header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
  height: 37px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-left {
  width: 20%;
  margin-left: 20px;
}
header .header-left .logo-img {
  margin-left: 20px;
}
header .header-center {
  width: 60%;
  margin-left: 50px;
}
header .header-center .search {
  border: solid gray 1px;
  width: 90%;
}
header .header-right {
  margin-right: 20px;
}
header .header-right .header-right-img {
  width: 20%;
  height: 24px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section aside {
  margin-top: 30px;
  margin-left: 20px;
  width: 20%;
  height: 1041px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section aside .aside-menu-first {
  margin-bottom: 20px;
}
section aside .aside-menu-second {
  border-top: solid gray 1px;
  margin-bottom: 20px;
}
section aside .aside-menu-sub {
  border-top: solid gray 1px;
}
section aside .aside-menu-sub .sub-text {
  margin-left: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  color: gray;
}
section aside .aside-menu-sub .sub-profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section aside .aside-menu-sub .sub-profile .aside-menu-sub-img {
  width: 24px;
  margin-right: 50px;
  margin-left: 20px;
}
section aside .aside-menu-third {
  border-top: solid gray 1px;
  margin-bottom: 20px;
}
section aside .aside-menu-third .sub-text {
  padding-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: gray;
}
section aside .aside-menu-fourth {
  border-top: solid gray 1px;
  margin-bottom: 20px;
  border-bottom: solid gray 1px;
}
section aside .aside-menu-text {
  margin-top: 20px;
  margin-left: 20px;
  color: gray;
}
section .contents {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}
section .contents .card {
  width: 25%;
  padding: 20px;
}
section .contents .card .card-thumb {
  position: relative;
}
section .contents .card .card-thumb .thumb-img {
  width: 100%;
  height: 70%;
}
section .contents .card .card-thumb .thumb-time {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.833);
}
section .contents .card .card-text {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section .contents .card .card-text .card-img {
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .contents .card .card-text .card-text-title {
  margin-bottom: 8px;
}
section .contents .card .card-text .card-text-author {
  color: grey;
  font-size: 15px;
}
section .contents .card .card-text .card-text-viewsAnddate {
  margin-top: 5px;
  font-size: 10px;
  color: grey;
}